.sort__item, .product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 236, 236);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__right__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__right__logo span {
  color: #f16d7f;
}
.header__right__logo p {
  font-size: 20px;
  font-family: Lato;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.185;
}
.header__right__logo__search {
  display: flex;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__left__btn-account {
  background-color: #f16d7f;
  width: 130px;
  height: 38px;
  border: 0;
  font-size: 15px;
  font-family: Lato;
  color: rgb(255, 255, 255);
  line-height: 2.133;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.menu .menu-box .menu-list {
  position: relative;
}
.menu .menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  font-size: 14px;
  font-family: Lato;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.857;
}
.menu .menu-box {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  top: 50px;
  display: none;
}
.menu .menu-box .menu-item {
  margin-right: 46px;
}
.menu .menu-box .menu-item:last-of-type {
  margin-right: 0;
}
.menu .menu-box h3 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  max-width: 335px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
}
.menu .menu-box .item-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4d4d4d;
  text-decoration: none;
  display: block;
}
.menu .menu-box .item-link:hover {
  color: #f16d7f;
}
.menu .menu-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: cyan;
  top: -8px;
  left: 30px;
  right: auto;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: rgb(255, 255, 255);
}

.slider {
  background-color: rgb(232, 232, 232);
  width: 100%;
  max-height: 45vh;
  overflow: hidden;
  display: flex;
}
.slider__text {
  display: flex;
  align-items: center;
}
.slider__text img {
  width: 5px;
  height: 90px;
}
.slider__text h1 {
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.slider__text h2 {
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgb(34, 34, 34);
}
.slider__text h2 span {
  color: #f16d7f;
}
.slider img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right;
  object-position: right;
  height: 75vh;
  margin-top: -9vh;
}

.banner {
  margin-top: 60px;
  margin-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 17px 1fr 17px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 17px;
  justify-content: center;
}
.banner__img1 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.banner__img2 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.banner__img3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.banner__img4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.banner > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.banner > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.banner > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.banner > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.banner > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.banner > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.text-between {
  text-align: center;
}
.text-between h1 {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-between p {
  color: #4d4d4d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  justify-content: center;
}

.breadcrumbs {
  background-color: rgb(248, 243, 244);
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs h1 {
  font-size: 17px;
  font-family: Lato;
  color: #f16d7f;
  text-transform: uppercase;
}
.breadcrumbs__mix a {
  list-style-type: none;
  text-decoration: none;
  font-size: 10px;
  font-family: Lato;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  color: #4d4d4d;
}
.breadcrumbs__mix a:last-child {
  color: #f16d7f;
}

.product-img {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(234, 234, 234);
  background-color: rgb(247, 247, 247);
}
.product-img img {
  height: 50vh;
}

.product-description {
  background-color: #ffffff;
}
.product-description__text {
  text-align: center;
}
.product-description__text h2 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #f16d7f;
}
.product-description__text h1 {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #4d4d4d;
}
.product-description__text p {
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #4d4d4d;
}
.product-description__text .price {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #f16d7f;
}

.sort__item {
  gap: 40px;
}
.sort__item__category {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #4d4d4d;
  border: none;
}
.sort button {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f16d7f;
  border-style: solid;
  border-width: 1px;
  border-color: #f16d7f;
  background-color: rgb(255, 255, 255);
}

.subscribe {
  background-image: url(/img/img_single-page/subscribe_photo.png);
  min-height: 45vh;
  background-color: rgba(244, 244, 244, 0.7);
  width: 100%;
  background-size: cover;
}

.footer {
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */